[Unit]
Description=btwarch service
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/btwarch/app/
ExecStart=/home/ubuntu/btwarch/app/btwarch_linux_amd64
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=btwarch

Environment=GIN_MODE=release
Environment=PORT=8080
NoNewPrivileges=true
PrivateTmp=true
ReadWritePaths=/home/ubuntu/btwarch/app/logs

[Install]
WantedBy=multi-user.target
